* {
    margin: 0;
    box-sizing: border-box;
  }
  h1 {
    font-family: 'Vollkorn', serif;
    color: white;
    font-size: 40px;
  }
  body {
    font-family: 'Quicksand', sans-serif;
    color: white;
    padding: 90px 20px 0;
    background-color: rgb(255, 255, 254);
    background-image:background-color: rgb(209, 209, 200);
  }
  
  .header {
    background-color: #24272a;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
  
    max-width: 992px;
    margin: 0 auto;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
  }
  
  .logo {
    font-size: 30px;
    font-family: 'Vollkorn', serif;
    padding: 0 40px;
    line-height: 80px;
  }
  
  .nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
  }
  
  .nav-menu-item {
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    margin: 0 10px;
    line-height: 80px;
    width: max-content;
  }
  
  .nav-menu-link {
    padding: 8px 12px;
    border-radius: 3px;
  }
  
  .nav-menu-link:hover,
  .nav-menu-link_active {
    background-color:#9c6d5d;
    transition: 0.5s;
  }
  
  /* TOGGLE */
  .nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
    font-family: 'ABeeZee', sans-serif;
  
    display: none;
  }
  
  /* MOBILE */
  @media (max-width: 768px) {
    body {
      padding-top: 70px;
    }
  
    .header {
      height: 60px;
    }
  
    .logo {
      font-size: 25px;
      padding: 0 20px;
      line-height: 60px;
    }
  
    .nav-menu {
      flex-direction: column;
      align-items: center;
      margin: 0;
      background-color: #755121;
      position: fixed;
      top: 60px;
      width: 100%;
      padding: 20px 0;
  
      height: calc(100% - 60px);
      overflow-y: auto;
  
      left: 100%;
      transition: left 0.3s;
    }
  
    .nav-menu-item {
      line-height: 70px;
    }
  
    .nav-menu-link:hover,
    .nav-menu-link_active {
      background: none;
      color: #c48c44;
    }
  
    .nav-toggle {
      display: block;
    }
  
    .nav-menu_visible {
      left: 0;
    }
  
    .nav-toggle:focus:not(:focus-visible) {
      outline: none;
    }
  }
 .descripcion {
  text-align: center;
    padding: 5px 25px;
    color: rgb(21, 10, 0);
 }
 .card{
  width: 100%;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;

}
.card-producto{
  width: 310px;
  padding: 20px;
  box-shadow: 1px 1px 5px rgb(0, 0, 0);
  border: solid rgba(3, 133, 255, 0) 2px;
  border-radius: 10px;
  background-color: #eec8bc;
}
.card-producto:hover{
  border: solid #0a0300 2px;
}
.card-producto:hover img{
  transform: rotate(0);
}

.card__titulo{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
hr{
  width: 100%;
  height: 4px;
  background: rgb(223, 221, 221);
  margin: 20px 5px;

}

  img {
    margin-top: 10px;
    margin-left: 10px;
    width: 250px;
    box-shadow: 2px 2px 5px rgb(216, 216, 216);
    transition: all .3s;
  }

  h2 {
    font-family: 'Quicksand', sans-serif;
    color: rgb(149, 83, 1);    
    font-size: large;
    text-align: center;
  }
.titulo2 {
  text-align: center;
}
.textoimagen {
  background-image: url(https://a.cdn-hotels.com/gdcs/production121/d1620/e8dc88bd-552b-41f6-9f5b-9681f9ee6b0a.jpg);
  background-size: cover;
  background-position-y: center;
  padding: 0;
  margin: 0;
  height: 500px;
}
.backgroundimage {
  text-shadow: #000000 ;
  text-align: center;
  padding-top:  200px;
  font-family:'Playfair Display', serif;
  font-size: 50px;
  font-weight: 100;
}
.descripciones {
    box-sizing: border-box;
    width: 100%; 
    height:fit-content;
    justify-content: space-around;
    align-items: first baseline;
    vertical-align: bottom;
    margin-top: 245px;
    background-color: bisque;
}